@model IEnumerable<VM_IngredientType_List>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Ingrediens Typer</h2>
<br />
<p>
    @Html.ActionLink("Ny Type", "IngredientType_Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>Edit/Delete</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.ActionLink("ret", "IngredientType_Edit", new { id = item.IngredientTypeId }) |
                @Html.ActionLink("slet", "IngredientType_Delete", new { id = item.IngredientTypeId })
        </tr>
    }
</table>
